<div class="row animated fadeIn fast">

    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <input class="form-control"
                        #txtBuscar
                        type="text"
                        (keyup)="buscar(txtBuscar.value)"
                        placeholder="Buscar paciente por Apellido...">
            </div>
        </div>

    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">

    <div class="col-12">

    <div class="alert alert-success text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>

    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">

    <div class="col-12">
        <div class="card">
            <div class="card-body">

                
                <div class="row">

                    <div class="col-8">
                        <h4 class="card-title">Pacientes: {{totalPacientes}}</h4>
                        <h6 class="card-subtitle">Pacientes registrados</h6>
                    </div>

                    <div class="col">
                    
                        <div class="text-right">
                            <a class="btn btn-success text-white"
                               routerLink="/dashboard/pacientes/paciente/nuevo"> 
                                <i class="fa fa-user"></i>
                                Crear Paciente
                            </a>
                        </div>
    
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Apellido</th>
                                <th>Nombre</th>
                                <th class="w140">DNI</th>
                                <th>Obra Social</th>
                                <th class="w100">Estado</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let paciente of pacientes">
                                <td>{{paciente.apellido}}</td>
                                <td>{{paciente.nombre}}</td>
                                <td>{{paciente.dni}}</td>
                                <td>{{paciente.obraSocial.nombre}}</td>
                                <td class="text-center">
                                    <span *ngIf="paciente.activo" class="label label-success">Activo</span>
                                    <span *ngIf="!paciente.activo" class="label label-danger">Inactivo</span>
                                </td>
                                <td class="text-nowrap text-center">
                                    <a (click)="verPaciente(paciente._id)" class="cursor" title="Ver"> <i class="fa fa-search text-inverse m-r-10" ></i> </a>
                                    <a [routerLink]="['/dashboard/pacientes/paciente', paciente._id]" class="cursor" title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="verHistorialTurnos(paciente._id)" class="cursor" title="Historial de turnos"> <i class="fa fa-calendar text-inverse m-r-10"></i> </a>
                                    <a (click)="activarInactivarPaciente(paciente)" *ngIf="!paciente.activo" class="cursor" title="Activar"> <i class="fa fa-close text-danger"></i> </a>
                                    <a (click)="activarInactivarPaciente(paciente)" *ngIf="paciente.activo" class="cursor" title="Inactivar"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center" *ngIf="txtBuscar.value.length===0">
                    <button (click)="cambiarPagina(-5)" 
                              class="btn btn-success" 
                            [disabled]="paginaDesde==0">
                            <i class="fa fa-arrow-left"></i>
                        
                    </button>
                    &nbsp;
                    <button (click)="cambiarPagina(5)" 
                            class="btn btn-success" 
                            [disabled]="paginaDesde+5>=totalPacientes">
                        
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>  

            </div>
        </div>
    </div>

</div>

<ng-template #modalContent let-close="close">

    <div class="modal-header">
        <h4 class="modal-title"><strong>Historial de Turnos</strong></h4>
    
    </div>

    <div class="row animated fadeIn fast" *ngIf="cargandoTurnos">

        <div class="col-12">
    
        <div class="alert alert-success text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>
    
        </div>
    </div>        

    <div class="table-responsive" *ngIf="!cargandoTurnos">
        <table *ngIf="turnos.length > 0" class="table table-bordered">
            <thead>
                <tr>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Titulo</th>
                    <th>Prestación</th>
                    <th class="w100">Asistencia</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let turno of turnos">

                    <td>{{ turno.start |date:'dd/MM/yyyy hh:mm a'}}</td>
                    <td>{{ turno.end |date:'dd/MM/yyyy hh:mm a'}}</td>
                    <td>{{ turno.title}}</td>
                    <td>{{ turno.prestacion.nombre}}</td>
                    <td class="text-center">
                        <span *ngIf="turno.asistio" class="label label-success">Asistió</span>
                        <span *ngIf="!turno.asistio" class="label label-danger">No Asistió</span>
                    </td>
                </tr>
            
            </tbody>

        </table>

        <hr>
        <div class="alert alert-success animated fadeIn fast col-sd-12"
            *ngIf="turnos.length === 0">
            <p class="mb-0 text-center">
                El paciente no tiene turnos
            </p>
        </div>

    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-success waves-effect text-left" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
    </div>

        

</ng-template>
